{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관련 롤모델</title>
    <link rel="stylesheet" href="{% static 'css/role.css'%}" />
    <!-- <script src="../js/m_job_detail.js" defer></script> -->
</head>
<body>
    <div id="Container">
        <header>
            <div id="TimeContainer">
                <img id="Time" src="{% static 'img/Time.svg'%}" />
            </div>
            <img id="Levels" src="{% static 'img/Levels.svg'%}" />
        </header>

        <div id="HeadContainer">
            <div id="rolemodelContainer">
                <a href="">
                    <img id="ArrowBtn" src="{% static 'img/arrow-left.svg'%}" />
                </a>
                <div class="rolemodelText">
                    <p>롤모델 보기</p>
                </div>
            </div>
        </div>
        
        <div id="mainContainer">
            <div class="info_container">
                <div class="job_info1">
                    <p>이 직무에서 일하는 사람은 어떤 모습일까요?</p>
                </div>
                <div class="job_info2">
                    <p>해당 직무와 유사한 분야의 여성 STEM<br>롤모델을 소개해드릴게요</p>
                </div>
            </div>

            {% if roles %}


            <div class="rolemodel_container">
                <div class="board1">
                    {% for role in roles %}
                    <div class="box">
                        <div class="info_box">
                            <div class="job_box">
                                <div class="job_info_box">
                                    <p class="name">👩‍🔬 {{role.role_name}}</p>
                                    <p class="job_title"> {{role.role_title}}</p>
                                </div>
                                <p class="short_bio"> {{role.short_bio}}</p> 
                            </div>
                            <p class="quote"> {{role.quote}}</p>
                        </div>
                        <a href="{{role.original_url}}" style="text-decoration: none;">
                            <div class="article"><p>→ 원문 글 보러 가기 →</p></div>
                        </a>
                    </div>
                    {% endfor %}
                </div>


                <div class="board2">
                    <a href="{% url 'home' %}">
                        <Button type="button" id="mainBtn"><p>메인 홈 이동 ▸</p></Button>
                    </a>
                    <Button type="button" id="otherjobBtn"><p>다른 직무 추천받기</p></Button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>