<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>직무 추천 리스트</title>
    <link rel="stylesheet" href="{% static 'css/job_recommendation.css' %}">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css" />


</head>

<body>
    <div id="Container">
        <div class="status_bar">
            <div class="time">9:41</div>
            <div class="icons">
                <img src="{% static 'img/Levels.svg' %}" alt="">
            </div>
        </div>

        <header>

            <a href="javascript:history.back()" class="back">
                <img src="{% static 'img/back.svg' %}" alt="뒤로가기">
            </a>

            <div class="job_recommendation">
                <h1>추천 직무</h1>
            </div>
        </header>

        <main>
            <div class="title">
                <h1>이런 직무가 어울려요</h1>
                <p>가장 어울리는 직무 3가지를 골라봤어요.</p>
            </div>

            <div class="tags"></div>

            <div class="card_container"></div>


        </main>

        {{ interests|json_script:"interests-data" }}

<!--      충돌 없애려 주석처리함. 위에가 새로 푸쉬한 코드   </main>

        <div id="interest-data" data-interests="{{ interests|join:',' }}"></div>
        <footer>
            <div class="home">
                <img src="{% static 'img/home.svg' %}" alt="">
                <p>홈</p>
            </div>
            <div class="search">
                <img src="{% static 'img/search.svg' %}" alt="">
                <p>탐색</p>
            </div>
            <div class="my">
                <img src="{% static 'img/my.svg' %}" alt="">
                <p>마이</p>
            </div>
        </footer> -->


    </div>

    <script>

        const GO_ICON_URL = "{% static 'img/go.svg' %}";

        const userData = {
            userID: "{{ request.user.username|default:'guest' }}",
            interests: JSON.parse(document.getElementById("interests-data").textContent)
        };

  // 충돌없애려 지우는 코드
//         const interestDataEl = document.getElementById("interest-data");
//         const interests = interestDataEl.dataset.interests.split(',');

//         const userData = {
//             userID: "{{ request.user.username|default:'guest' }}",
//             interests: interests
//         };

    </script>

    <script src="{% static 'js/job_recommendation.js' %}"></script>
</body>

</html>