<!-- onboarding.html -->
<!-- {% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Onboarding</title>
</head>
<body>
  <h1>온보딩 화면입니다 🎉</h1>
  <p>여기에 당신의 온보딩 안내 텍스트나 버튼 등을 넣으세요.</p>
  <a href="{% url 'login' %}">로그인하러 가기</a>
  <a href="{% url 'signup' %}">회원가입하러 가기
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnBoarding</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/onBoarding.css' %}" />
  </head>
  <body>
    <div id="Container">
      <header>
        <div id="TimeContainer">
          <img id="Time" src="{% static 'img/Time.svg' %}" />
        </div>
        <img id="Levels" src="{% static 'img/Levels.svg' %}" />
      </header>

      <img id="logo" src="{% static 'img/logo.png' %}">
      <div id="text">
        <span>Herizon</span>에서<br />
        당신만의 STEM 분야를 발견해보세요.
      </div>
       <a href="{% url 'signup' %}">
        <button id="startButton">시작하기</button>
      </a>
      <div id="signin">이미 계정이 있나요? <a href="{% url 'login' %}">로그인</a></div>
      
    </div>
  </body>
</html>

