{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="{% static 'users/signup.css' %}" />

    <!-- JavaScript 연결 -->
    <script src="{% static 'users/signup.js' %}" defer></script>
  </head>
  <body>
    <div id="Container">
      <!-- 상단 헤더 -->
      <header>
        <div id="TimeContainer">
          <img id="Time" src="{% static 'users/image/Time.svg' %}" alt="시간" />
        </div>
        <img id="Levels" src="{% static 'users/image/Levels.svg' %}" alt="레벨" />
      </header>

      <!-- 상단 타이틀 -->
      <div id="HeadContainer">
        <div id="SignUpContainer">
          <img id="BackBtn" src="{% static 'users/image/backBtn.svg' %}" alt="뒤로가기" />
          <div class="SignupText">
            <p>회원가입</p>
          </div>
        </div>
      </div>

      <!-- 회원가입 폼 -->
      <form id="SignupInput" method="post">
        {% csrf_token %}

        <!-- 이름 입력 -->
        <div class="name_container">
          <div class="title_name">
            <p>이름<span class="required_star">*</span></p>
          </div>
          <div class="InputBox">
            <input type="text" id="name" name="name" placeholder="이름 입력" />
          </div>
        </div>

        <!-- 이메일 입력 -->
        <div class="email_container">
          <div class="title_email">
            <p>이메일<span class="required_star">*</span></p>
          </div>
          <div class="InputBox">
            <input type="email" id="email" name="email" placeholder="이메일 입력" />
          </div>
        </div>

        <!-- 아이디 입력 -->
        <div class="id_container">
          <div class="title_id">
            <p>아이디<span class="required_star">*</span></p>
          </div>
          <div id="id_board">
            <div class="id_input">
              <div class="InputBox_id">
                <input type="text" id="ID" name="user_id" placeholder="아이디" />
              </div>
              <div class="HelperText1">
                <p>6-10자 영문, 숫자로 입력해 주세요.</p>
              </div>
            </div>
            <button id="id_check" type="button"><span>중복확인</span></button>
            
          </div>
        </div>

        <!-- 비밀번호 입력 -->
        <div class="password_container1">
          <div class="title_password">
            <p>비밀번호<span class="required_star">*</span></p>
          </div>
          <div class="password_input1">
            <div class="InputBox">
              <input type="password" id="PW" name="password1" placeholder="비밀번호 입력" />
            </div>
            <div class="HelperText2">
              <p>6-20자 영문, 숫자, 특수문자를 조합하여 입력해 주세요.</p>
            </div>
          </div>
        </div>

        <!-- 비밀번호 확인 -->
        <div class="password_container2">
          <div class="title_password">
            <p>비밀번호 확인<span class="required_star">*</span></p>
          </div>
          <div class="InputBox">
            <input type="password" id="PW_try" name="password2" placeholder="비밀번호 재입력" />
          </div>
        </div>

        <!-- 회원가입 버튼 -->
        <button type="submit" id="signupBtn" value="회원가입">가입하기</button>
      </form>
    </div>
  </body>
</html>
